body{

background:#0b0b0b;
color:white;
font-family:sans-serif;
text-align:center;

}

h1{

color:red;
font-size:50px;
text-shadow:0 0 20px red;

}

.btn{

background:red;
padding:12px 20px;
border-radius:8px;
text-decoration:none;
color:white;

}

input{

padding:10px;
margin:5px;
border-radius:6px;
border:none;

}

#servers{

margin-top:20px;

}

.server{

background:#1a1a1a;
margin:10px;
padding:15px;
border-radius:10px;

}
